a {
    text-decoration: none;
    font-family: sans-serif;
}
.login-holder {
    text-align: center;
}
.login-box {
	width: 440px;
	box-sizing: border-box;
	border: 1px solid #fff;
	display: inline-block;
	vertical-align: top;
	box-shadow: 0 0 50px rgba(0,0,0,.2);
	position: relative;
	background: #fff;
	font-size: 12px;
	color: #71848d;
}
.login-tabs__navigation li {
	width: 50%;
	display: inline-block;
	font-size: 19px;
	font-weight: 700;
}
.login-tabs__navigation li a {
	display: block;
	padding: 15px 20px;
	background: #f6f6f6;
	color: #9aa6ac;
	position: relative;
}
.login-tabs__content>li.active {
	display: block;
}
/*.login-tabs__content>li {
	display: none;
	padding: 30px 45px;
}*/
.login-tabs__navigation li a.active {
	background: #fff;
	color: #70848f;
}
.login-tabs__navigation ul {
	margin: 0 -1px;
	font-size: 0;
}
.login-form__or {
	display: block;
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: 700;
}
.login-form .fblock {
	margin-bottom: 15px;
	text-align: left;
	position: relative;
}
.login-form .focusbox {
	position: relative;
}
.login-form [type=email], .login-form [type=password] {
	width: 100%;
	box-sizing: border-box;
	padding: 12px 10px;
	margin-bottom: 5px;
	border: 1px solid #d2d2d2;
	border-radius: 3px;
}
.login-form [type=text], .login-form [type=password] {
	width: 100%;
	box-sizing: border-box;
	padding: 12px 10px;
	margin-bottom: 5px;
	border: 1px solid #d2d2d2;
	border-radius: 3px;
}
.login-form__bottom {
	overflow: hidden;
	margin: -8px 0 15px;
}
.login-form__rememberme {
	float: left;
}
.login-button {
	width: 100%;
	padding: 12px 0;
	margin-bottom: 15px;
	display: block;
	position: relative;
	border: none;
	border-radius: 3px;
	background: #1899ce;
	text-align: center;
	color: #fff;
	font-size: 13px;
	cursor: pointer;
}
.login-form__terms {
	color: #b9b9b9;
	line-height: 16px;
}
.top-line {
    text-align: center;
}
.top-line img {
    height: 60px;
    width: 60px;
    display: inline-block;
    vertical-align: middle; 
    transition: all .2s;  
}
.top-line span {
    vertical-align: middle;
    font-family: sans-serif;
}